{% extends "base_admin.html" %}
{% block content %}
<h2>Edit Patient</h2>
<form method="POST" action="{{ url_for('update_record', id=record['_id']) }}">
    <label for="number">id</label>
    <input type="text" name="gender" id="gender" required>
    <label for="number">hypertension</label>
    <input type="number" name="heart_disease" id="heart_disease" required>
    <input type="text" name="ever_married" id="ever_married" required>
    <input type="text" name="work_type" id="work_type" required>
    <input type="text" name="Residence_type" id="Residence_type" required>
    <input type="number" name="avg_glucose_level" id="avg_glucose_level" min="0">
    <input type="number" name="bmi" id="bmi" min="0">
    <input type="number" name="smoking_status" id="smoking_status" min="0">
    <input type="number" name="stroke" id="stroke" min="0">
    <br><br>
    <input class="button" type="submit" value="Save Changes">
</form>

{% endblock %}








