{% extends "base.html" %}
{% block title %}Patient Data{% endblock %}

{% block content %}

    <section class="hero">
        <h2>Your Health Records, Anytime</h2>
        <p>Contact the Health centre to give detail, update your detail, delete your details or just for a friendly chat. Your sure to get through to use because we never take a day off at the Health Centre</p>

        
    </section>

    <section class="features">
        <div class="feature-box">
            <h3>💻 Email 💻</h3>
            <p>Email us at Helllo@healthcentre.org.uk</p>
        </div>

        <div class="feature-box">
            <h3>☎️ Phone Number ☎️</h3>
            <p>Call us at 0118 999 881 999 119 725 3</p>

        
        </div>
    </section>

{% endblock %}