{% extends "base.html" %}
{% block title %}Patient Data{% endblock %}

{% block content %}
<body>
    <h2>Shopping Information for {{ username }}</h2>
    {% if shopping_data %}
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Gender</th>
                <th>age</th>
                <th>Hypertension</th>
                <th>heart disease</th>
                <th>Ever Married</th>
                <th>work type</th>
                <th>Date Purchased</th>
                <th>Item Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Date Purchased</th>
            </tr>
        </thead>
        <tbody>
            {% for item in patientdata %}
            <tr>
                <td>{{ item['id'] }}</td>
                <td>{{ item['gender'] }}</td>
                <td>{{ item['age'] }}</td>
                <td>{{ item['hypertension'] }}</td>
                <td>{{ item['heart_disease'] }}</td>
                <td>{{ item['ever_married'] }}</td>
                <td>{{ item['work_type'] }}</td>
                <td>{{ item['residence_type'] }}</td>
                <td>{{ item['avg_glucose_level'] }}</td>
                <td>{{ item['bmi'] }}</td>
                <td>{{ item['smoking_status'] }}</td>
                <td>{{ item['stroke'] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No shopping data found for this Customer ID.</p>
    {% endif %}
</body>
{% endblock %}
